{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }

  .banner-collection {
    top: 200px;
    height: 460px;
  }

  .banner-collection-box {
    padding: 0 0 0 10px;
  }

  .banner-collection-box .banner__text {
    width: 70%;
  }

  .banner-topics-box-1 {
    background: unset!important;
    height: unset!important;
  }

  .banner-heading {
    color: #000000;
    text-transform: uppercase;
  }

  .banner-text {
    color: #777777;
  }

  .transparent {
    background: transparent;
  }

  .banner__heading {
    text-align: left;
  }

  .banner-journal-box {
    text-align: left;
  }

  .content-container .journal__button {
    --border-opacity: unset;
  }

  .journal__button > a {
    background-color: var(--gradient-base-accent-2);
    color: white;
    border-radius: 3px;
  }

  .banner__text {
    width: 80%;
    text-align: left;
    line-height: 21px;
    font-size: 12px;
    text-transform: uppercase;
  }
  @media screen and (min-width: 750px) {
    .text-over-image {
      min-height: 76rem!important;
    }

    .banner-topics-box-1 > div {
      max-width: -webkit-fill-available!important;
      padding-top: 0!important;
    }

    .text-over-image .banner__media {
      margin-top: 250px;
      height: 46rem;
    }

    .leather-image .banner__media {
      margin-top: 0px!important;
      height: 46rem;
    }

    .text-over-image h2 {
      color: #121212;
    }
    
    .text-over-image .banner__text {
      color: #777777;
    }
  }

  .banner-collection-box-1 {
    padding-left: 0;
    justify-content: left!important;
  }
 
  .banner-collection-box-1,
  .banner-journal-box-1 {
    background: transparent!important;
    height: unset!important;
  }
  
  @media (min-width: 750px) and (max-width: 1440px) {       
    .banner-topics-box-1, .banner-collection-box-1 {
      padding-left: 1rem!important;
    }
  }
  
  @media (min-width: 750px) and (max-width: 989px) {       
    .banner-about-box {
      padding-left: 0px!important;
    }
  }
  
  @media (min-width: 990px) and (max-width: 1440px) {       
    .banner-about-box {
      padding-left: 20px!important;
    }
  }

  .banner-about-box {
    max-width: 1390px;
    padding-left: 50px;
    margin-top: -300px;
  }

  @media screen and (max-width: 749px) {
    .banner-journal-box {
      padding-top: 100px!important;
    }

    .banner-about-box {
      margin-top: 0;
    }


    .banner-collection {
      top: 330px;
    }

    .banner-journal-box-1 {
      height: 100%!important; 
      background: rgba(0,0,0,0.3)!important;
    }

    #shopify-section-template--19283159777566__67b740cd-fb79-4fc8-95ba-3ff5337f155a .banner-home-box {
      height: 320px!important;
      margin-top: -321px!important;
    }
      
    .banner-other-box {
      height: 34rem!important;
      margin-top: -340px!important;
    }
    
    .video-banner .banner-other-box {
      height: 50rem!important;
      margin-top: -500px!important;
    }

    .video-banner {
      min-height: 500px!important;
    }

    .video-banner .banner__media {
      height: 500px!important;
    }
    
    .banner-collection-box-1 {
      padding-top: 20px;
    }

    .text-over-image {
      min-height: 70rem!important;
    }

    .text-over-image .banner__media {
      top: 320px;
    }

    .text-over-image .banner__heading {
      color: #121212;
    }
    .text-over-image .styled-text > p {
      color: #777777;
      width: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    .banner-collection {
      top: 330px;
    }
  }

{%- endstyle -%}

<div
  id="Banner-{{ section.id }}"
  class="banner {% if section.settings.enable_video and request.page_type != 'index' and request.path != '/pages/about-us'  %}video-banner{% endif %} banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %} {% if request.path contains '/blogs' or request.path contains '/leather-care' %}text-over-image leather-image{% endif %} {% if request.path contains '/about-us' or request.path contains '/personalisation' or request.path contains '/the-ettinger-factory' %}larger-banner{% endif %} {% if request.page_type == 'index' and section.settings.enable_video == false %} banner-homepage{% endif %}"
>
  {% if section.settings.enable_video %}
    <div class="banner__media">
      <video id="vid"
        style="height: inherit; width: inherit; object-fit: cover;" 
        playsinline="true"
        autoplay 
        muted
        loop 
        loading="lazy">
        <source src="{{ section.settings.video_url }}"/>
      </video>
      <div class="dark-overlay"></div>
    </div>
  {% endif %}
  <div style="width: 100%;">
    {%- if section.settings.image != blank -%}
      <div style="{% if section.settings.enable_video %}display: none;{% endif %}" class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %} {% if template contains 'collection' %}banner-collection{% endif %}">
        {%- liquid
          assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
          if section.settings.image_2 != blank
            assign image_class = 'banner__media-image-half'
          endif
          if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
            assign sizes = '(min-width: 750px) 50vw, 100vw'
          elsif section.settings.image_2 != blank
            assign sizes = '50vw'
          else
            assign sizes = '100vw'
          endif
        -%}
        {% if template contains 'collection' and collection.image != blank %}{{
          collection.image
          | image_url: width: 3840
          | image_tag:
            loading: 'lazy',
            width: section.settings.image.width,
            height: image_height,
            class: image_class,
            sizes: sizes,
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
        }} {% else %}
        {{
          section.settings.image
          | image_url: width: 3840
          | image_tag:
            loading: 'lazy',
            width: section.settings.image.width,
            height: image_height,
            class: image_class,
            sizes: sizes,
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
        }}{% endif %}
      </div>
    {%- elsif section.settings.image_2 == blank -%}
      <div style="{% if section.settings.enable_video %}display: none;{% endif %}" class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {%- endif -%}
    {%- if section.settings.image_2 != blank -%}
      <div class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}">
        {%- liquid
          assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
          if section.settings.image != blank
            assign image_class_2 = 'banner__media-image-half'
          endif
          if section.settings.image != blank and section.settings.stack_images_on_mobile
            assign sizes = '(min-width: 750px) 50vw, 100vw'
          elsif section.settings.image != blank
            assign sizes = '50vw'
          else
            assign sizes = '100vw'
          endif
        -%}
        {{
          section.settings.image_2
          | image_url: width: 3840
          | image_tag:
            loading: 'lazy',
            width: section.settings.image_2.width,
            height: image_height_2,
            class: image_class_2,
            sizes: sizes,
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
        }}
      </div>
    {%- endif -%}
    <div style="height: 100%; background: rgba(0,0,0,0.3);" class="banner__content banner__content--{{ section.settings.desktop_content_position }} {% if request.path contains 'about' or request.path contains 'factory' or request.path contains 'personalisation' %} banner-about-box-parent{% endif %} {% if request.page_type == 'index' %}banner-home-box{% endif %} {% if request.page_type != 'index' %} banner-other-box{% endif %} {% if request.path contains 'collection' %} page-width banner-collection-box-1{% endif %} {% if request.path contains '/journal' %} banner-journal-box-1 page-width{% endif %} {% if request.path contains '/blogs' or request.path contains '/leather-care' %} banner-topics-box-1{% endif %}">
      <div class="banner__box {% if request.path contains 'about' or request.path contains 'factory' or request.path contains 'personalisation' %} banner-about-box{% endif %} {% if template contains 'journal' %}banner-journal-box{% endif %} {% if template contains 'collection' %}banner-collection-box{% endif %} {% if request.page_type == 'index' %} page-width homepage-banner-text {% endif %} content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient {% if template contains 'about' %}transparent{% endif %}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2 class="banner__heading {{ block.settings.heading_size }}  {% if template contains 'collection' %} banner-heading {% endif %} " {{ block.shopify_attributes }}>
                <span>{% if template == 'collection.collection' %}{{ collection.title }} <span style="color: #ec9a00;">COLLECTION</span>
                {% elsif template contains 'collaboration' %}{{ collection.title }} <span style="color: #ec9a00;">COLLABORATION</span>
                {% elsif template == 'collection' %}{{ collection.title }}
                {% elsif request.path contains '/news' %}{{ block.settings.heading | escape }} <span style="color: #ec9a00;">NEWS</span> 
                {% elsif request.path contains '/style' %}{{ block.settings.heading | escape }} <span style="color: #ec9a00;">STYLE</span> 
                {% elsif request.path contains '/lifestyle' %}{{ block.settings.heading | escape }} <span style="color: #ec9a00;">LIFESTYLE</span> 
                {% elsif request.path contains '/behind' %}{{ block.settings.heading | escape }} <span style="color: #ec9a00;">BEHIND THE BRAND</span> 
                {% elsif request.path contains '/interviews' %}{{ block.settings.heading | escape }} <span style="color: #ec9a00;">INTERVIEWS</span> 
                {% elsif request.path contains '/retailers' %}{{ block.settings.heading | escape }} <span style="color: #ec9a00;">RETAILERS</span> 
                {% else %}{{ block.settings.heading | escape }}{% endif %}</span>
              </h2>
            {%- when 'text' or section.settings.paragraph != blank -%}
              <div class="banner__text {{ block.settings.text_style }}  {% if template contains 'collection' %} banner-text {% endif %}" {{ block.shopify_attributes }}>
                <span class="styled-text">{% if template contains 'collection' %}{{ collection.description }}{% else %}{{ section.settings.paragraph | raw }}{% endif %}</span>
              </div>
            {%- when 'buttons' -%}
              <div
                class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %} {% if template contains 'journal' %}journal__button{% endif %}"
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.button_label_1 != blank -%}
                  <a
                    {% if block.settings.button_link_1 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_1 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_1 | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "enable_video",
      "label": "Enable video option",
      "default": false
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Type your video link"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.image-banner.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}

