{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .login-content {
    margin: auto;
  }

  @media (min-width: 750px) and (max-width: 989px) {
    .register {
      display: flex;
      flex-direction: column;
    }
  }

  .names-flex {
    display: flex;
    justify-content: space-between!important;
  }

  .first-name, .last-name {
    width: 100%;
  }

  .first-name-flex, .last-name-flex {
    width: 48%;
  }

  .first-name label, .last-name label {
    left: 0;
  }

    @media screen and (max-width: 989px) {
      .login-image {
        width: 100%!important;
        height: 350px;
        object-fit: cover;
      }

      .register {
        max-width: 100%!important;
        padding: 0!important;
      }
      
      .register-image {
        max-width: 100%!important;
        padding: 0!important;
        display: block!important;
      }

      .login-content {
        padding-left: 5%;
        padding-right: 5%;
      }
    }

    .register .login-content {
      text-align: left;
    }

    .customer label {
      text-transform: uppercase;
    }

    .register .center label {
      font-size: 10px;
      font-weight: 400;
      line-height: 15px;
      color: #777777;
    }

    .newsletter-message,
    .password-message {
      font-size: 8px;
      font-weight: 300;
      line-height: 15px;
      color: #777777;
      text-transform: uppercase;
    }

    .password-message {
      margin-top: 10px;
    }

    .newsletter-message {
      margin-left: 25px;
    }

    .login-content {
      margin-left: 10%;
      margin-right: 10%;
    }

    .register h1 {
      font-size: 36px;
      color: var(--gradient-base-accent-2);
      text-transform: uppercase;
      line-height: 41px;
    }

    .register-title {
      font-size: 14px;
      color: #777777;
      line-height: 17px;
      font-weight: 300;
    }
   
    .register-subheading {
      font-size: 8px;
      color: #777777;
      line-height: 15px;
      text-transform: uppercase;
      margin: 5px 0;
    }

    .register .center {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 30px;
    }

    .register button {
      margin: 10px 0 0 0;
    }

    .login-message {
      text-decoration: none!important;
      margin-left: 0;
      font-size: 12px!important;
      font-weight: 300!important;
      text-transform: none!important;
      font-family: 'Gotham Medium', sans-serif!important;
    }
{%- endstyle -%}

<div class="customer register section-{{ section.id }}-padding page-width">
  <div class="image-container" style="width: 95%!important; max-height: 100vh;">
    {% assign image_url_165w = section.settings.image | image_url: width: 165 %}
    {% assign image_url_360w = section.settings.image | image_url: width: 360 %}
    {% assign image_url_533w = section.settings.image | image_url: width: 533 %}
    {% assign image_url_720w = section.settings.image | image_url: width: 720 %}
    {% assign image_url_940w = section.settings.image | image_url: width: 940 %}
    {% assign image_url_1066w = section.settings.image | image_url: width: 1066 %}
    <img 
      srcset="
        {{ image_url_165w }} 165w,
        {{ image_url_360w }} 360w,
        {{ image_url_533w }} 533w,
        {{ image_url_720w }} 720w,
        {{ image_url_940w }} 940w,
        {{ image_url_1066w }} 1066w,
        {{ section.settings.image | image_url }} 2000w
      "
      class="login-image" 
      src="{{ section.settings.image | image_url }}" 
      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 1 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
      width='100%' 
      height='100%' 
      loading="lazy"/> 
  </div>
  <svg style="display: none">
    <symbol id="icon-error" viewBox="0 0 13 13">
      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
    </symbol>
  </svg>
  <div class="login-content">
  <h3 class="register-title">REGISTER</h3>
  <h1>
    {{ 'customer.register.title' | t }}
  </h1>
  <p class="register-subheading">
    Creating an Ettinger account affords you certain benefits such as
    faster shopping, multiple address management and order tracking.
  </p>
  {%- form 'create_customer', novalidate: 'novalidate' -%}
    {%- if form.errors -%}
      <h2 class="form__message" tabindex="-1" autofocus>
        <svg aria-hidden="true" focusable="false">
          <use href="#icon-error" />
        </svg>
        {{ 'templates.contact.form.error_heading' | t }}
      </h2>
      <ul>
        {%- for field in form.errors -%}
          <li>
            {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
            {%- else -%}
              <a href="#RegisterForm-{{ field }}">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    <div class="names-flex">
    <div class="first-name-flex">
    <div class="field first-name">
      <input
        type="text"
        name="customer[first_name]"
        id="RegisterForm-FirstName"
        {% if form.first_name %}
          value="{{ form.first_name }}"
        {% endif %}
        autocomplete="given-name"
        placeholder="{{ 'customer.register.first_name' | t }}"
      >
      <label for="RegisterForm-FirstName">
        {{ 'customer.register.first_name' | t }}
      </label>
    </div>
    <div class='grey-divider email-divider'>123</div>
    </div>
    <div class="last-name-flex">
    <div class="field last-name">
      <input
        type="text"
        name="customer[last_name]"
        id="RegisterForm-LastName"
        {% if form.last_name %}
          value="{{ form.last_name }}"
        {% endif %}
        autocomplete="family-name"
        placeholder="{{ 'customer.register.last_name' | t }}"
      >
      <label for="RegisterForm-LastName">
        {{ 'customer.register.last_name' | t }}
      </label>
    </div>
    <div class='grey-divider email-divider'>123</div>
    </div>
    </div>
    <div class="field">
      <input
        type="email"
        name="customer[email]"
        id="RegisterForm-email"
        {% if form.email %}
          value="{{ form.email }}"
        {% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-email-error"
        {% endif %}
        placeholder="{{ 'customer.register.email' | t }}"
      >
      <label for="RegisterForm-email">
        {{ 'customer.register.email' | t }}
      </label>
    </div>
    <div class='grey-divider email-divider'>123</div>
    {%- if form.errors contains 'email' -%}
      <span id="RegisterForm-email-error" class="form__message">
        <svg aria-hidden="true" focusable="false">
          <use href="#icon-error" />
        </svg>
        {{ form.errors.translated_fields.email | capitalize }}
        {{ form.errors.messages.email }}.
      </span>
    {%- endif -%}
    <div class="field">
      <input
        type="password"
        name="customer[password]"
        id="RegisterForm-password"
        aria-required="true"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-password-error"
        {% endif %}
        placeholder="{{ 'customer.register.password' | t }}"
      >
      <label for="RegisterForm-password">
        {{ 'customer.register.password' | t }}
      </label>
    </div>
    <div class='grey-divider email-divider'>123</div>
    <div class="password-message">Passwords must be a minimum of 5 characters long.</div>
    {%- if form.errors contains 'password' -%}
      <span id="RegisterForm-password-error" class="form__message">
        <svg aria-hidden="true" focusable="false">
          <use href="#icon-error" />
        </svg>
        {{ form.errors.translated_fields.password | capitalize }}
        {{ form.errors.messages.password }}.
      </span>
    {%- endif -%}
    <div class="center">
      <label class="newsletter-label" for="marketing">
        <input type="checkbox" name="customer[accepts_marketing]" value="true" id="marketing" /> JOIN THE ETTINGER NEWSLETTER 
      </label>
      <div class="newsletter-message">STAY UP TO DATE WITH NEW COLLECTIONS AND PRODUCTS</div>
      <button>
        CREATE ACCOUNT
      </button>
      <p class="register-subheading">ALREADY HAVE AN ACCOUNT?</p>
      <a href="/account/login" class="login-message newsletter-message">
        Login
        <span style="color: var(--gradient-base-accent-2);" class="icon-wrap">{% render 'icon-arrow' %}</span>
      </a>
    </div>
  {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
