{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .multirow-content {
    max-width: 100%!important;
    justify-content: center!important;
  }

  .multirow-maxheight {
    max-height: 500px!important;
  }

  .multirow-maxheight .image-with-text__media-item,
  .multirow-factory .image-with-text__media-item {
    margin-top: 63px;
  }

  @media screen and (max-width: 749px) {
    .multirow-factory .image-with-text__media-item {
      margin-top: 0;
    }
  }

  .multirow-maxheight img {
    max-height: 400px!important;
  }

  .multirow-product h2 {
    font-size: 30px;
    color: white;
    font-weight: 400;
    letter-spacing: 4%;
  }

  .multirow-product > div > div > div > p {
    font-size: 14px;
    font-weight: 300;
    color: white!important;
  }

  .multirow-personalization .image-with-text {
    min-height: 600px;  
  }
  
  @media screen and (max-width: 749px) {
    .multirow-personalization .image-with-text {
      min-height: 850px;
    }
    .multirow-personalization .style-text {
      min-height: 600px;
    }
  }
  .multirow-personalization h2 {
    color: var(--gradient-base-accent-2);
  }

  .multirow-max-width {
    max-width: 100%!important;
  }

  .multirow-max-width > img {
    max-height: -webkit-fill-available;
    border-radius: 3px;
  }

  .multirow-text > p {
    color: #121212!important;
  }

  @media screen and (max-width: 749px) {
    .multirow-content {
      max-height: 100%!important;
    }
    .multirow-faq > img {
      content: url('https://cdn.shopify.com/s/files/1/0743/9476/3550/files/Rectangle_53_1.png?v=1693306744')!important;
    }
    .multirow-about-us {
      min-height: 1200px!important;
    }
    .multirow-minheight {
      min-height: 900px!important;
    }
    .multirow swiper-container {
      min-height: 650px;
    }
    .multirow .image-with-text__text--caption-raw > h6 {
      margin: 0!important;
    }
    .multirow .image-with-text__text--caption-raw > p {
      margin: 0!important;
      font-size: 20px!important;
      line-height: 24px;
      padding-bottom: 20px;
    }
  }
{%- endstyle -%}

{%- liquid
  if section.settings.image_layout contains 'right'
    assign odd_class = ' image-with-text__grid--reverse'
  else
    assign even_class = ' image-with-text__grid--reverse'
  endif

  if section.settings.row_color_scheme == section.settings.section_color_scheme
    assign no_content_background = true
  endif

  if settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0
    assign no_content_styles = true
  endif

  if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0
    assign borders_class = ' collapse-borders'
  endif

  if no_content_background and no_content_styles
    assign padding_class = ' collapse-padding'
  endif

  unless no_content_background and no_content_styles
    assign corners_class = ' collapse-corners'
  endunless
-%}

<div class="multirow {% if request.path contains '/the-ettinger-factory' %}multirow-scrolling {% endif %} section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
      <div class="blog-image-container empty-divider {% if request.path contains 'factory' or request.path contains '/about-us' or request.path contains '/personalisation' %} show-divider{% endif %}">
        <span class="list-border"><div class="grey-divider">hello</div></span>
        {% if request.path contains '/the-gentlemen' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="116" height="115" viewBox="0 0 116 115" fill="none">
          <g filter="url(#filter0_i_2586_15855)">
            <path d="M43.0693 32.4251L47.961 37.3098V17.1196L57.4185 7.83862L67.039 17.1196V57.5L47.961 57.3372V44.7997L31.0029 27.5403L1 57.3372L31.0029 87.4597L38.5036 80.1326L38.1775 57.6628L15.0231 57.3372L19.7518 62.2219H33.6118V78.0159L31.0029 80.621L8.1746 57.3372L31.0029 34.8674L43.0693 46.7536V99.9971L57.5815 114L71.9307 99.9971V75.5735L84.1602 87.4597L114 57.5H81.3882V37.147L84.1602 34.5418L102.423 52.1268H108.782L84.3232 27.3775L76.6595 34.8674V62.2219H102.423L84.3232 80.621L70.3001 66.9438H63.4517L66.8759 70.3631V97.5548L57.5815 107.324L47.961 97.5548V62.2219H71.9307V15.1657L57.4185 1L43.0693 15.1657V32.4251Z" fill="#2E2E2E"/>
          </g>
          <path d="M43.0693 32.4251L47.961 37.3098V17.1196L57.4185 7.83862L67.039 17.1196V57.5L47.961 57.3372V44.7997L31.0029 27.5403L1 57.3372L31.0029 87.4597L38.5036 80.1326L38.1775 57.6628L15.0231 57.3372L19.7518 62.2219H33.6118V78.0159L31.0029 80.621L8.1746 57.3372L31.0029 34.8674L43.0693 46.7536V99.9971L57.5815 114L71.9307 99.9971V75.5735L84.1602 87.4597L114 57.5H81.3882V37.147L84.1602 34.5418L102.423 52.1268H108.782L84.3232 27.3775L76.6595 34.8674V62.2219H102.423L84.3232 80.621L70.3001 66.9438H63.4517L66.8759 70.3631V97.5548L57.5815 107.324L47.961 97.5548V62.2219H71.9307V15.1657L57.4185 1L43.0693 15.1657V32.4251Z" stroke="#2E2E2E" stroke-width="1.38235"/>
          <defs>
            <filter id="filter0_i_2586_15855" x="0.0217896" y="0.0314941" width="117.642" height="116.932" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dx="2" dy="2"/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/>
              <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2586_15855"/>
            </filter>
          </defs>
        </svg>
        {% else %}
          <div class="{% if request.path contains '/the-ettinger-factory' %}videoscrollsection_2{% elsif request.path contains '/about-us' %}videoscrollsection_3{% elsif request.path contains '/personalisation' %}videoscrollsection_4{% endif %}" style="width:180px; height:180px;" data-rootMargin="-50% 0px 0px 0px" data-aspectx="180" data-aspecty="180">
            <video 
                style="height: 180px; width: 180px; margin-top: -15px;" 
                autoplay 
                muted
                playsinline 
                loading="lazy"
            >
                <source src="https://cdn.shopify.com/videos/c/o/v/5715306dfcc849bca518b314d0119430.mp4" />
            </video>
          </div>
        {% endif %}
        <span class="list-border"><div class="grey-divider">hello</div></span>
    </div>
  <div class="multirow__inner {% if request.path contains '/about-us' %}multirow-minheight{% endif %}{% unless request.path contains '/pages/the-gentlemen' and section.index == 2 %} page-width{% endunless %}{% if request.path contains '/the-gentlemen' and section.index == 6 %} section-gentleman{% endif %}{% if template contains 'personalization' %}multirow-personalization{% endif %} {% if request.path contains '/the-ettinger-factory' %}multirow-factory{% endif %}">
    {%- for block in section.blocks -%}
      <div {% if request.path contains '/the-gentlemen' and section.index == 2 %}style="background: #201E1E;"{% endif %}
        class="image-with-text isolate{{ borders_class }}{{ corners_class }}{{ padding_class }}"
        {{ block.shopify_attributes }}
      >
        <div class="image-with-text__grid {% if template contains 'about' %}multirow-maxheight{% endif %} {% if template contains 'product' %}multirow-product{% endif %} grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.image_layout contains 'alternate' %}{% cycle odd_class, even_class %}{% else %}{{ odd_class }}{% endif %}">
          <div class="{% if request.path contains '/pages/the-gentlemen' and section.index == 2 %}gentleman-media {% endif %}image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
            <div
              class="image-with-text__media {%  if request.path contains '/visit-our-showroom' %}showroom-media{% endif %} {% if template contains 'product' %}multirow-content{% endif %} {% if request.path contains '/faq' or request.path contains 'contact' %}multirow-max-width{% endif %} {% if request.path contains '/faq' %}multirow-faq{% endif %} image-with-text__media--{{ section.settings.image_height }} gradient color-{{ section.settings.row_color_scheme }} global-media-settings{% if block.settings.image != blank %} media{% else %} image-with-text__media--placeholder placeholder{% endif %}"
              {% if section.settings.image_height == 'adapt' and block.settings.image != blank %}
                style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
              {% endif %}
            >
              {%- if block.settings.image != blank -%}
                {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
                {{
                  block.settings.image
                  | image_url: width: 1500
                  | image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
                }}
                {%- elsif block.settings.video_url != blank -%}
                <video 
                  muted
                  autoplay
                  loop
                  playsinline
                  loading="lazy"
                  width="100%"
                  height="100%"
                >
                  <source src="{{ block.settings.video_url }}" />
                </video>
              {% elsif block.settings.image == blank and block.settings.video_url == blank %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
          </div>
          <div class="image-with-text__text-item{% if request.path contains '/products/the-gentleman' %} product-gentleman-item{% endif %} grid__item {% if request.path contains '/faq' or request.path contains '/contact' or request.path contains '/visit-our-showroom' %}hidden{% endif %}">
            <div class="image-with-text__content {% if template contains 'product' %}multirow-content{% endif %} {% if request.path contains '/about-us' or request.path contains '/the-ettinger-factory' %} multirow-about{% endif %} {% if request.path contains '/about-us' %}multirow-about-us{% endif %} image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.image_height }} content-container{% unless no_content_background and no_content_styles %} gradient color-{{ section.settings.row_color_scheme }}{% endunless %}">
              {%- if block.settings.heading -%}
                <h2 class="image-with-text__heading {{ section.settings.heading_size }} rte">
                  {{ block.settings.heading }}
                </h2>
              {%- endif -%}
              {%- if block.settings.caption -%}
                <p class="image-with-text__text image-with-text__text--caption caption-with-letter-spacing caption-with-letter-spacing--medium">
                  {% if request.path contains '/about' or request.path contains '/the-ettinger-factory' %}<div class="image-with-text__text--caption-raw">{{ block.settings.caption | raw }}</div>{% else %}{{ block.settings.caption | raw }}{% endif %}
                </p>
              {%- endif -%}
              {%- if block.settings.text -%}
                <div class="image-with-text__text multirow-text {% if request.path contains '/personalisation' %}style-text{% endif %} rte {{ section.settings.text_style }}">{{ block.settings.text }}</div>
              {%- endif -%}
              {%- if block.settings.button_label != blank -%}
                <a
                  {% if block.settings.button_link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link }}"
                  {% endif %}
                  class="button button--{{ section.settings.button_style }}"
                >
                  {{ block.settings.button_label | escape }}
                </a>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multirow.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multirow.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.multirow.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.multirow.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.multirow.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.multirow.settings.image_height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.multirow.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.multirow.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.multirow.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.multirow.settings.desktop_image_width.label",
      "info": "t:sections.multirow.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.multirow.settings.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.multirow.settings.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.multirow.settings.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.multirow.settings.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_style",
      "options": [
        {
          "value": "body",
          "label": "t:sections.multirow.settings.text_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.multirow.settings.text_style.options__2.label"
        }
      ],
      "default": "body",
      "label": "t:sections.multirow.settings.text_style.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.multirow.settings.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.multirow.settings.button_style.options__2.label"
        }
      ],
      "default": "secondary",
      "label": "t:sections.multirow.settings.button_style.label"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.multirow.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.multirow.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.multirow.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "middle",
      "label": "t:sections.multirow.settings.desktop_content_position.label",
      "info": "t:sections.multirow.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multirow.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multirow.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.multirow.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multirow.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "image_layout",
      "options": [
        {
          "value": "alternate-left",
          "label": "t:sections.multirow.settings.image_layout.options__1.label"
        },
        {
          "value": "alternate-right",
          "label": "t:sections.multirow.settings.image_layout.options__2.label"
        },
        {
          "value": "align-left",
          "label": "t:sections.multirow.settings.image_layout.options__3.label"
        },
        {
          "value": "align-right",
          "label": "t:sections.multirow.settings.image_layout.options__4.label"
        }
      ],
      "default": "alternate-left",
      "label": "t:sections.multirow.settings.image_layout.label",
      "info": "t:sections.multirow.settings.image_layout.info"
    },
    {
      "type": "select",
      "id": "section_color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "row_color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.multirow.settings.container_color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.multirow.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multirow.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multirow.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.multirow.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multirow.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "t:sections.multirow.blocks.row.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multirow.blocks.row.settings.image.label"
        },
        {
          "type": "url",
          "id": "video_url",
          "label": "Type your video link"
        },
        {
          "type": "richtext",
          "id": "caption",
          "default": "<p>Caption</p>",
          "label": "t:sections.multirow.blocks.row.settings.caption.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Row",
          "label": "t:sections.multirow.blocks.row.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multirow.blocks.row.settings.text.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.multirow.blocks.row.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.multirow.blocks.row.settings.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multirow.presets.name",
      "blocks": [
        {
          "type": "row"
        },
        {
          "type": "row"
        },
        {
          "type": "row"
        }
      ]
    }
  ]
}
{% endschema %}
